@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Views : @this.Model.PageViews</h1>

    <h2>Protein of the day is: @this.Model.Menu.ProteinOfTheDay </h2>
    <h2>Soup of the day is: @this.Model.Menu.SoupOfTheDay </h2>
</div>
